schema.sql
tables.txt
*.swp
software_inventory_check.log
software_inventory_check_needs_versions.txt
test_query.sql
*.pyc
packages_log.txt
falco.sublime-workspace
falco.sublime-project
Untitled0.ipynb
.ipynb_checkpoints
*.out
